[submodule "third_party/imgui"]
	path = imgui_gl/third_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third_party/implot"]
	path = imgui_gl/third_party/implot
	url = git@github.com:epezent/implot.git
[submodule "third_party/glfw"]
	path = imgui_gl/third_party/glfw
	url = git@github.com:glfw/glfw.git
